.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680,#500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.search-bar{
    display: flex;
    align-items: center;
    gap:12px;

}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;

}

.search-bar img{
    width:50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.weather-icon{
    width: 150px;
    margin: 30px 0;
}

.temperature{
    color: #fff;
    font-size: 80px;
    line-height: 1;
}

.location{
    color: #fff;
    font-size: 40px;
}

.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data .col .span{
    display: block;
    font-size: 16px;

}

.weather-data .col .img{
    width: 26px;
    margin-top: 10px;
}

.temperature {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 5px;
}

.location {
    font-size: 24px;
    margin-bottom: 20px;
}

.weather-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
}

.weather-data .col {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.weather-data .col img {
    width: 40px; /* Adjust the size of the humidity and wind icons */
    height: 40px;
    margin-right: 10px;
}

.weather-data .col p {
    font-size: 20px;
    margin: 0;
}

.weather-data .col span {
    font-size: 14px;
    color: #777;
}